{% block listingItem %}
<div class="{{ classes }}">
    <div class="l-inner listingItem-inner">

        {% if primary_heading %}
		<h2 class="listingItem-primaryHeading">{{ primary_heading }}</h2>
		{% endif %}

		{% if description %}
		<div class="listingItem-description">{{ description }}</div>
	    {% endif %}

		{% if button_url and button_label %}
		<a class="listingItem-button" href="{{ button_url }}">{{ button_label }}</a>
		{% endif %}

    </div>
</div>
{% endblock %}
