{% block hero %}
<div class="{{ classes }}"{% if background_image_url %} data-bg="{{ background_image_url }}"{% endif %}>
	<div class="hero-inner">

		{% if heading_line_1 or heading_line_2 %}
		<h1 class="hero-heading">

			{% if accent_image_1_html %}
			{{ accent_image_1_html }}
			{% endif %}

			<span class="hero-headingLine hero-headingOutline">
				<span class="hero-textWrap">{{ heading_line_1 }}</span>
			</span>

			{% if heading_line_2 %}
			<span class="hero-headingLine">
				<span class="hero-textWrap">{{ heading_line_2 }}</span>
			</span>
			{% endif %}

		</h1>
		{% endif %}

		{% if description %}
		<div class="hero-description">
			{{ description}}
		</div>
		{% endif %}

	</div><!-- END .hero-inner -->
</div><!-- END .hero -->
{% endblock %}
