{% block logoGrid %}
<div class="{{ classes }}">
	<div class="l-inner logoGrid-inner">

		<div class="logoGrid-header">

			{% if primary_heading %}
			<h2 class="logoGrid-primaryHeading">{{ primary_heading }}</h2>
			{% endif %}

			{% if primary_description %}
			<div class="logoGrid-primaryDescription">{{ primary_description }}</div>
			{% endif %}

		</div>

		{% for grid in final_grids %}
		<div class="logoGrid-section">

			{% if grid.heading %}
			<h3 class="logoGrid-heading">{{ grid.heading }}</h3>
			{% endif %}

			{% if grid.cards %}
			<div class="logoGrid-grid">
				{% for card in grid.cards %}
					{{ card }}
				{% endfor %}
			</div>
			{% endif %}

		</div>
		{% endfor %}

		{% if cta_link %}
		<a href="{{ cta_link.url }}" class="logoGrid-button" target="{{ cta_link.target }}">{{ cta_link.title }}</a>
		{% endif %}

	</div>
</div>
{% endblock %}
