{% block accordion %}
<div class="{{ classes }}">
    <div class="accordion-inner">

		{% if accordion_items %}
		<ul class="accordion-list">
            {% for row in accordion_items %}

            <li class="accordion-listItem">

                <input class="accordion-toggle" type="checkbox" id="faq-{{ loop.index0 }}">

                <label class="accordion-headingLabel" for="faq-{{ loop.index0 }}">
                    <span class="accordion-heading">{{ row.heading }}</span>
                    <i class="accordion-toggleIcon"></i>
                </label>

                <div class="accordion-text entry-content">
                    {{ row.text }}
                </div>

            </li>

            {% endfor %}
        </ul>
	    {% endif %}

    </div>
</div>
{% endblock %}
