{% block postCard %}
<div class="{{ classes }}">
    <div class="l-inner postCard-inner">

        {% if primary_heading %}
		<h2 class="postCard-primaryHeading">{{ primary_heading }}</h2>
		{% endif %}

		{% if description %}
		<div class="postCard-description">{{ description }}</div>
	    {% endif %}

		{% if button_url and button_label %}
		<a class="postCard-button" href="{{ button_url }}">{{ button_label }}</a>
		{% endif %}

    </div>
</div>
{% endblock %}
