{% block postCard %}
{% if permalink %}
<a class="{{ classes }}" href="{{ permalink }}">

	<div class="postCard-subHeading">
		{{ subheading }}
	</div>

	{% if title %}
	<h3 class="postCard-heading">{{ title }}</h3>
	{% endif %}

	{% if excerpt %}
	<div class="postCard-excerpt">{{ excerpt }}</div>
	{% endif %}

	<div class="postCard-more">{{ arrow_icon }}</div>

</a>
{% endif %}
{% endblock %}
