{% block quote %}
<div class="{{ classes }}">
  <div class="quote-row">
    {% if image %}
    <div class="quote-column quote-column-image">
      <div class="quote-image"><img src="{{ image }}" alt=""></div>
    </div>
    {% endif %}
    <div class="quote-column quote-column-text">
      <span class="quotoe-icon">“</span>
      <div class="quote-quoteText">
        {{ description }}
      </div>
      {% if author %}
      <div class="quote-author">{{ author }}</div>
      {% endif %}
      {% if location %}
      <div class="quote-location">{{ location }}</div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
