{% block quote %}
<div class="{{ classes }}">
    <div class="quote-inner">

        {% if primary_heading %}
		<h2 class="quote-primaryHeading">{{ primary_heading }}</h2>
		{% endif %}

		{% if description %}
		<div class="quote-description">{{ description }}</div>
	    {% endif %}

		{% if button_url and button_label %}
		<a class="quote-button" href="{{ button_url }}">{{ button_label }}</a>
		{% endif %}

    </div>
</div>
{% endblock %}
