{% block quote %}
<blockquote class="{{ classes }}">
  <div class="quote-inner">

    {% if image_html %}
    <div class="quote-imageContainer">
      <div class="quote-image">{{ image_html }}</div>
    </div>
    {% endif %}

    {% if quoted_text %}
    <div class="quote-column quote-column-text">

      <i class="quote-icon">&ldquo;</i>

      <div class="quote-quoteText">
        {{ quoted_text }}
      </div>

      {% if attribution_name %}
      <div class="quote-attributionName">{{ attribution_name }}</div>
      {% endif %}

      {% if attribution_description %}
      <div class="quote-attributionDescription">{{ attribution_description }}</div>
      {% endif %}

    </div>
    {% endif %}

  </div><!-- END .quote-inner -->
</blockquote><!-- END .quote -->
{% endblock %}
