{% block sectionNavigation %}
<div class="{{ classes }}">
    <div class="l-container sectionNavigation-inner">

        {% if primary_heading %}
		<h2 class="sectionNavigation-primaryHeading">{{ primary_heading }}</h2>
		{% endif %}

		{% if description %}
		<div class="sectionNavigation-description">{{ description }}</div>
	    {% endif %}

		{% if button_url and button_label %}
		<a class="sectionNavigation-button" href="{{ button_url }}">{{ button_label }}</a>
		{% endif %}

    </div>
</div>
{% endblock %}
