{% block contentGroup %}
{% if (primary_heading and secondary_heading) or description or (cta_link and cta_label) %}
<div class="{{ classes }}">
	<div class="contentGroup-inner">

    {% if primary_heading and secondary_heading %}
		<h1 class="contentGroup-heading">

			<span class="contentGroup-headingLine contentGroup-headingOutline">
				<span class="contentGroup-textWrap">{{ primary_heading }}</span>
			</span>

			<span class="contentGroup-headingLine">
				{% if accent_image_html and not tertiary_heading %}
				{{ accent_image_html }}
				{% endif %}

				<span class="contentGroup-textWrap">{{ secondary_heading }}</span>
			</span>

			{% if tertiary_heading %}
			<span class="contentGroup-headingLine">
					{% if accent_image_html %}
					{{ accent_image_html }}
					{% endif %}

					<span class="contentGroup-textWrap">{{ tertiary_heading }}</span>
			</span>
			{% endif %}
		</h1>
		{% endif %}

		{% if description %}
		<div class="contentGroup-description">{{ description }}</div>
    {% endif %}

		{% if cta_link and cta_label %}
    <div class="contentGroup-ctaWrap">
		  <a class="contentGroup-cta" href="{{ cta_link }}">{{ cta_label }}</a>
    </div>
		{% endif %}

	</div>
</div>
{% endif %}
{% endblock %}
