{% block stats %}
<div class="{{ classes }}">
    <div class="stats-inner">

        {% if primary_heading %}
		<h2 class="stats-primaryHeading">{{ primary_heading }}</h2>
		{% endif %}

		{% if description %}
		<div class="stats-description">{{ description }}</div>
	    {% endif %}

		{% if button_url and button_label %}
		<a class="stats-button" href="{{ button_url }}">{{ button_label }}</a>
		{% endif %}

    </div>
</div>
{% endblock %}
