{% block peopleCard %}
<div class="{{ classes }}">
    <div class="l-inner peopleCard-inner">

        {% if primary_heading %}
		<h2 class="peopleCard-primaryHeading">{{ primary_heading }}</h2>
		{% endif %}

		{% if description %}
		<div class="peopleCard-description">{{ description }}</div>
	    {% endif %}

		{% if button_url and button_label %}
		<a class="peopleCard-button" href="{{ button_url }}">{{ button_label }}</a>
		{% endif %}

    </div>
</div>
{% endblock %}
